<div class="container">
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <%= render partial: 'form', locals: { time_datum: @time_datum } %>
  </div>
</div>